@model News.Domain.Article

<div class="text-center">
    <h1>Редактировать новость</h1>
    <div>
        <form asp-controller="Home" asp-action="ArticlesEdit" method="post">
            <input type="hidden" asp-for="Id"/>
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Title"></label>
                <input asp-for="Title"/>
                <span asp-validation-for="Title"></span>
            </div>
            <div>
                <label asp-for="Text"></label>
                <textarea asp-for="Text"/></textarea>
                <span asp-validation-for="Text"></span>
            </div>
            <input type="submit" value="Готово"/>
        </form>
    </div>
</div>
