@using News.Domain
@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center mb-3">
    <a class="btn btn-primary" asp-controller="Home" asp-action="ArticlesEdit">Добавить новость</a>
</div>

<div class="container">
    <div class="row">
        @foreach (Article entity in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@entity.Title</h5>
                        <p class="card-text">@entity.Text</p>

                        <a class="btn btn-warning btn-sm" asp-controller="Home" asp-action="ArticlesEdit" asp-route-id="@entity.Id">
                            Редактировать
                        </a>

                        <form method="post" asp-controller="Home" asp-action="ArticlesDelete" class="d-inline">
                            <input type="hidden" value="@entity.Id" name="Id" />
                            <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


