@using News.Domain
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Home" asp-action="ArticlesEdit" class="btn btn-primary">Новая статья</a>
</div>

<div class="container mt-4">
    <div class="row">
        @foreach (Article entity in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@entity.Title</h5>
                        <p class="card-text">@entity.Text</p>

                        <a asp-controller="Home" asp-action="ArticlesEdit" asp-route-id="@entity.Id" class="btn btn-warning">Редактировать</a>

                        <form method="post" asp-controller="Home" asp-action="ArticlesDelete" class="d-inline">
                            <input type="hidden" value="@entity.Id" name="Id" />
                            <input type="submit" value="Удалить" class="btn btn-danger" onclick="return confirm('Вы уверены?');" />
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>